<% provide(:title, "About") %>
<h1>About This App</h1>
<p>Well, it's pretty pointless and rather stupid, but it isn't really made for end users. It is designed as a platform for learning Ruby and Rails &emdash; and Ruby on Rails &emdash; via a tutorial.</p>
